.question-card {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 12px;
  margin: 20px auto;
  background-color: white;

  &:hover {
    box-shadow: 0 4px 10px #ccc;
  }
}

.row-title {
  display: flex;
  border-bottom: 1px solid #ddd;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: #333;
  .status-publish {
    border: 1px solid #ddd;
    padding: 5px;
    margin-right: 8px;
  }
  .status-answer-count {
    margin-right: 8px;
  }
  .title {
    font-size: 1.3rem;
    a {
      color: rgb(97, 141, 219);
      text-decoration: none;
    }
  }
}

.row-edit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  .btn-status {
    color: #666;
    font-size: 12px;
    margin-left: 8px;
  }
}

.btn-create {
  padding: 6px;
  font-size: 18px;
  margin-left: 8px;
}