.content-wrap {
  display: flex;
  min-height: 180px;
  flex-grow: 1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
  justify-content: flex-start;
  min-height: 400px;
  margin-top: 95px;
}

.main-content {
  flex-grow: 1;
  justify-content: center;
}
